.generating {
  background: #2228;
  padding: 8px;
  border: 1px solid #fff5;
}

li {
  padding: 8px;
  border: 1px solid transparent;
}

.cheat-box {
  border: 1px solid #fff5;
  background: #7771;
  padding: 8px;
  position: absolute;
  // width: 20vw;
  top: 16px;
  right: 16px;
}

.ai-list {
  display: flex;
  flex-wrap: wrap;
}
