<ul class="modifiers">
  <li *ngFor="let mod of ais.totalModifiers | keyvalue">
    {{ getModifierName(mod.key) }}: {{mod.value.mul(100) | units:'1.1-1'}}%
  </li>
</ul>

<div *ngIf="ais.inProgress" class="generating">
  <app-ai [ai]="ais.generatingAI" generation="true"></app-ai>
</div>
<ul class="ai-list">
  <li *ngFor="let ai of ais.active">
    <app-ai [ai]="ai"></app-ai>
  </li>
</ul>

<div class="cheat-box">
  <button (click)="ais.active.add(ais.createAI())">MAKE ME A GUY</button>
</div>
