div {
  border: 1px solid #000e;
  width: 250px;
  height: 20px;
}

#reset {
  font-variant: small-caps;
  border: 1px solid #f008;
  background: #f002;
  color: #f00e;

  box-shadow: 0 0 0 0 #f00e;
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: 0 0 5px 5px #f008;
  }
}
