<main>
  <section id="top-pane">
    <section id="data-pane">
      <span class="large display">{{currency[TRANSISTOR] | units:'1.1-1'}}</span>/{{transistors.m | units:'1.1-1'}} transistors <span class="small transistors"><span class="seed-transistors">{{transistors.seedN | units:'1.0-0'}}</span> seed, <span class="accumulated-transistors">+{{currency[ACC_TRANSISTOR] | units:'1.0-0'}}</span> accumulated</span>
      <br>
      <span class="display">{{transistors.rawGain() | units:'1.1-3'}}</span> per second
      <br>
      <span class="display">{{currency[COMPUTE] | units:'1.1-1'}}</span> compute
      <br>
      <span class="display">{{currency[CREDIT] | units: '1.1-1'}}</span> credits
    </section>
    <section class="spacer"></section>
    <section class="label">
      <div>compute upgrades</div>
    </section>
    <section class="compute buttons">
      <button [disabled]="!transistors.roundRunning || !currency.canAfford(COMPUTE, upgrades.computeUpgrades[REPLICATION]?.cost.amount)" (click)="upgrades.purchase(upgrades.computeUpgrades[REPLICATION]!)">
        <div>replication</div>
        <div>{{upgrades.computeUpgrades[REPLICATION]?.cost.amount | units:'1.0-0'}}</div>
      </button>
      <button [disabled]="!transistors.roundRunning || !currency.canAfford(COMPUTE, upgrades.computeUpgrades[CAP]?.cost.amount)" (click)="upgrades.purchase(upgrades.computeUpgrades[CAP]!)">
        <div>cap</div>
        <div>{{upgrades.computeUpgrades[CAP]?.cost.amount | units:'1.0-0'}}</div>
      </button>
      <button [disabled]="!transistors.roundRunning || !currency.canAfford(COMPUTE, upgrades.computeUpgrades[CAP_GROWTH]?.cost.amount)" (click)="upgrades.purchase(upgrades.computeUpgrades[CAP_GROWTH]!)">
        <div>cap growth</div>
        <div>{{upgrades.computeUpgrades[CAP_GROWTH]?.cost.amount | units:'1.0-0'}}</div>
      </button>
    </section>
    <section class="label">
      <div>sell acc. transistors</div>
    </section>
    <section class="sell buttons">
      <button [disabled]="!transistors.canSell || allTransistors.lt(one)" (click)="sellOne()">Sell {{one | units:'1.0-0' }} for {{creditAmount(one) | units:'1.0-2'}}</button>
      <button *ngIf="quarter.gte(2)" [disabled]="!transistors.canSell" (click)="sellQuarter()">Sell {{quarter | units:'1.0-0'}} for {{creditAmount(quarter) | units:'1.0-2'}}</button>
      <button *ngIf="half.gte(3)" [disabled]="!transistors.canSell" (click)="sellHalf()">Sell {{half | units:'1.0-0'}} for {{creditAmount(half)| units:'1.0-2'}}</button>
      <button *ngIf="threeQuarters.gte(8)" [disabled]="!transistors.canSell" (click)="sellThreeQuarter()">Sell {{threeQuarters| units:'1.0-0'}} for {{creditAmount(threeQuarters) | units:'1.0-2'}}</button>
      <button *ngIf="allTransistors.gte(2)" [disabled]="!transistors.canSell" (click)="sellAll()">Sell {{allTransistors| units:'1.0-0'}} for {{creditAmount(allTransistors) | units:'1.0-2'}}</button>
    </section>
    <section class="buttons">
      <div class="running">
        <div class="round-start">
          <app-progress *ngIf="transistors.roundRunning" [type]="roundTimerBar" [max]="transistors.roundLength" [value]="transistors.roundDuration"></app-progress>
          <button id="round-start-button" [style.visibility]="transistors.roundRunning ? 'hidden' : 'visible'" [disabled]="!transistors.canStart" (click)="transistors.startRound()">Start Round</button>
          <div *ngIf="transistors.roundRunning" class="round-duration">{{transistors.roundLength.sub(transistors.roundDuration).div(MS_PER_SEC) | units:'1.1-1'}}<span class="round-remaining">s</span></div>
          <div *ngIf="transistors.roundRunning" class="round-length">{{transistors.roundLength.div(MS_PER_SEC) | units:'1.0-0'}}s total</div>
        </div>
        <div class="train-ai">
          <button class="invisible" (click)="ai.advanceGeneration()" *ngIf="ai.inProgress"></button>
          <app-progress *ngIf="ai.inProgress" [type]="roundTimerBar" [max]="MS_PER_SEC.mul(10)" [value]="loop.time.sub(ai.generatingAI?.readyTime).mul(-1)"></app-progress>
          <button [style.visibility]="ai.inProgress ? 'hidden' : 'visible'" [disabled]="!transistors.canTrain" (click)="transistors.generateAI()">Generate New AI</button>
          <div *ngIf="ai.inProgress" class="training-duration">{{loop.time.sub(ai.generatingAI?.readyTime).mul(-1).div(MS_PER_SEC) | units:'1.1-1'}}<span class="training-remaining">s</span></div>
          <div *ngIf="ai.inProgress" class="training-length">{{ai.generatingAI?.readyTime.sub(ai.generatingAI?.startTime).div(MS_PER_SEC) | units:'1.0-0'}}s total</div>
        </div>
        <button [disabled]="!transistors.canUpgradeRound" (click)="transistors.upgradeLength()">Upgrade Round Length +1 sec ({{transistors.roundUpgradeCost}})</button>
      </div>
      <div class="state">
        <button id="increase-speed-button" [disabled]="transistors.currentState === TransistorState.INCREASE_SPEED" (click)="transistors.setState(TransistorState.INCREASE_SPEED)">{{TransistorState.INCREASE_SPEED}}</button>
        <button id="increase-replication-button" [disabled]="transistors.currentState === TransistorState.INCREASE_R" (click)="transistors.setState(TransistorState.INCREASE_R)">{{TransistorState.INCREASE_R}}</button>
        <button id="increase-cap-button" [disabled]="transistors.currentState === TransistorState.INCREASE_M" (click)="transistors.setState(TransistorState.INCREASE_M)">{{TransistorState.INCREASE_M}}</button>
      </div>
    </section>
  </section>
  <section id="outlet">
    <router-outlet></router-outlet>
  </section>
  <br><br>
</main>
<nav>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/upgrades" routerLinkActive="active">Upgrades</a>
  <a routerLink="/ais" routerLinkActive="active">AIs</a>
  <div class="spacer"></div>
  <a routerLink="/options" routerLinkActive="active">Options</a>
  <a routerLink="/design" routerLinkActive="active">Design</a>
  <a routerLink="/changelog" routerLinkActive="active">Changelog</a>
  <a target="_blank" href="https://gitlab.com/HeinousTugboat/transistors-inc">v{{environment.version}}{{environment.production ? '' : '-dev'}} <fa-icon [icon]="linkIcon" [styles]="{'vertical-align': 'unset'}" size="xs"></fa-icon></a>
</nav>
