:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // > * {
  //   padding: 8px;
  //   overflow: hidden;
  // }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
}

#outlet {
  overflow: auto;
  flex-grow: 1;
  margin: -8px;
  padding: 8px;
  border-top: 1px solid #fff3;
  border-bottom: 1px solid #fff3;
  position: relative;
}

#top-pane {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}

#data-pane {
  color: #fffb;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.sell {
    justify-content: flex-start;
    position: relative;

    button {
      font-size: 90%;
    }
  }

  .running {
    display: flex;
    flex-direction: column;

    .dark {
      opacity: 0.2;
    }
  }

  .state {
    display: flex;
    button {
      flex-grow: 1;
    }
    :disabled {
      color: #f9853288;
    }
  }
}

#sell-train {
  display: flex;
  padding: 2px;
  button {
    flex-grow: 1;
    width: 50%;
    position: relative;
    margin: 0;
    &:first-child {
      border-right: 0;
      &:disabled::after {
        border-left-color: #fff5;
      }
      &::after {
        content: " ";
        border: 0;
        border-left: 2px solid #fff8;
        background: #131117;
        position: absolute;
        width: 4px;
        right: 0px;
        top: -1px;
        bottom: -1px;
        box-sizing: border-box;
        transform: skew(-15deg);
      }
    }

    &:last-child {
      border-left: 0;
      &:disabled::before {
        border-right-color: #fff5;
      }
      &::before {
        content: " ";
        border: 0;
        border-right: 2px solid #fff8;
        background: #131117;
        position: absolute;
        width: 4px;
        left: 0px;
        top: -1px;
        bottom: -1px;
        box-sizing: border-box;
        transform: skew(-15deg);
      }
    }
  }
}

// section,
// div {
//   background: #f0f1;
// }

nav {
  padding: 8px;
  flex-shrink: 0;
  display: flex;

  a {
    padding: 0 8px;

    + a {
      border-left: 1px solid #fff8;
    }

    &.active {
      font-weight: 700;
    }
  }
}

.spacer {
  flex-grow: 1;
}

.display {
  font-size: 20px;
  color: #fffe;
}

.large {
  font-size: 120%;
}

.seed-transistors {
  color: #69f;
}

.accumulated-transistors {
  color: #fffe;
}

.transistors {
  border: 1px solid #fff8;
  border-top: 0;
  border-bottom: 0;
  padding: 0 4px 0 2px;
  margin: 0 4px;
  background: #7771;
}

.round-start {
  position: relative;
  display: flex;
  border: 1px solid #fff5;
  margin: 2px;

  button {
    width: 100%;
    box-sizing: content-box;
    padding: 8px;
    margin: 0;
  }
  app-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .round-duration,
  .round-length {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .round-remaining {
    color: #fffb;
  }
  .round-duration {
    top: 4px;
    font-size: 20px;
    color: #fffe;
  }

  .round-length {
    bottom: 4px;
    font-size: 12px;
    color: #fff5;
  }
}

.train-ai {
  position: relative;
  display: flex;
  border: 1px solid #fff5;
  margin: 2px;

  button {
    width: 100%;
    box-sizing: content-box;
    padding: 8px;
    margin: 0;
    &.invisible {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 10;
    }
  }
  app-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .training-duration,
  .training-length {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .training-remaining {
    color: #fffb;
  }
  .training-duration {
    top: 4px;
    font-size: 20px;
    color: #fffe;
  }

  .training-length {
    bottom: 4px;
    font-size: 12px;
    color: #fff5;
  }
}

section.label {
  font-size: 19px;
  text-align: center;
  color: #fff5;
  writing-mode: vertical-lr;
  border-right: 1px solid #fff5;
  margin-right: 2px;
  margin-left: 20px;
  div {
    transform: rotateZ(-180deg);
  }
}

.compute.buttons {
  justify-content: flex-start;

  button {
    min-width: 16ch;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    // flex-direction: column;
    div {
      text-align: center;
    }

    div:first-child {
      color: #fffe;
    }

    div:last-child {
      margin-bottom: 4px;
      margin-left: 8px;
      font-size: 12px;
      color: #fff8;
    }

    &[disabled] {
      div:first-child {
        color: #fff8;
      }
      div:last-child {
        color: #fff5;
      }
    }
  }
}
