// .round-timer {
.outer {
  border: 0px solid #fff5;
  position: relative;
  height: 100%;
  background: #7771;
}

.value {
  border-right: 1px solid #f98532;
  background: #f9853255;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
// }
