<ul>
  <li *ngFor="let item of log.history.slice(-options.logLength); trackBy: item" [class]="item.level.toLowerCase()">
    <div class="timestamp">{{item.time.toLocaleTimeString()}}</div>
    <div class="item">
      <fa-icon *ngIf="item.level === errorLevel" [icon]="errorIcon" [styles]="{'vertical-align': 'unset'}" size="xs"></fa-icon>
      {{item.text}}
    </div>
  </li>
</ul>
