section {
  max-width: 80ch;
}

ul {
  padding: 0 0 4px 20px;
}

li {
  padding-top: 4px;
  list-style: inside disc;
  > ul > li {
    list-style: inside circle;
    > ul > li {
      list-style: inside square;
    }
  }
}

p {
  padding: 8px 0 16px;
}

a {
  text-decoration: underline #f98532;
  &:hover {
    text-decoration-color: #f9853288;
  }
}

:host ::ng-deep .svg-inline--fa {
  vertical-align: unset;
  margin: 0 0.5ch;
}
